{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block slider %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="offset-lg-0 col-2"></div>
  
        <div class="col-lg-12 col-md-8">
            <div style="background-color:#c7f4cb;" class="alert alert-success m-3" role="alert">
                <h3 class="text-primary">Editar Preventivo</h3>
                <h1 class="mb-3">{{ preventive.id }} : {{ preventive.station_preventive.type_station.acronym }} {{ preventive.station_preventive }}</h1>
                <form class="" method="POST">{% csrf_token %}

                    {{ form.as_p}}

                    <button class="form-control btn-primary mb-5" type="submit">Actualizar</button>

                </form>
            </div>
        </div>

        <div class="offser-lg-0 col-2"></div>
    </div>
</div>

{% endblock %}