{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block slider %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
          <div class="col-lg-2 text-center">
          </div>
          <!--DETAIL INFORMATION-->
          <div class="col-lg-8">
            <h3 class="text-secondary">Manuales y archivos</h3>
            <h1></h1>
                  <table class="table table-sm table-hover">
  
              <h1>{{ device.product_model_device }}</h1>       
          
                      {% for doc in device.product_model_device.doc_device.all %}
                      <!--Modal: Name-->
                      <a target="_blank" href="{{ doc.url_docDevice }}"><button class="btn btn-primary m-1">{{ doc.name_docDevice }}</button></a></br>
                      {% endfor %}
         

          </div>



    </div>

</div>




{% endblock %}