{% extends 'base.html' %}
{% load static %}

{% block header %}


{% endblock %}

{% block slider %}
{% endblock %}

{% block content %}




<div class="container">
  <div class="row">
      <div class="offset-lg-0 col-2"></div>

      <div class="col-lg-12 col-md-8">

          <div style="background-color:#c7f4cb;" class="alert alert-success m-3" role="alert">
              <h3 class="text-dark">Crear Incidencia</h3>

<form method="POST">{% csrf_token %}
    {{ form.as_p}}
    <button class="form-control btn-primary mb-5" type="submit">Guardar</button>
</form>



</div>
</div>

<div class="offser-lg-0 col-2"></div>


</div>
</div>


{% endblock %}

{% block scripts %}



<script>
    Func_viewanotherTypeIncidence_incidence();
    function Func_viewanotherTypeIncidence_incidence(){
        var elem = document.getElementById("typeIncidence_incidence");
        var x = elem.options[elem.selectedIndex].text;
        if(x=="Otro tipo"){
            document.getElementById("anotherTypeIncidence_incidence").style.display = "block";
            document.querySelector("label[for='anotherTypeIncidence_incidence']").style.display = "block";
        }
        else{
            document.getElementById("anotherTypeIncidence_incidence").style.display = "none";
            document.querySelector("label[for='anotherTypeIncidence_incidence']").style.display = "none";
        }  
    }
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  $( function() {
    $( "#datepicker2" ).datepicker();
  } );
</script>
{% endblock %}