{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block slider %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

            <div class="alert alert-danger m-3" role="alert">
                <h3 class="text-primary">Eliminar</h3>

        <form class="" method="POST">{% csrf_token %}

            <p>Confirme que desea eliminar {{ consumible.name }}</p>

            <button class="form-control btn-danger mb-5" type="submit">Confirmar</button>

        </form>
    </div>

</div>
<div class="col-lg-2"></div>
</div>
</div>
{% endblock %}