{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Aguas - Index</title>
{% endblock %}
{% block head %}
<title>Aguas</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<style>
html, body {
  width: 100%;
}
#map {
  width: 100%;
  height: 850px;
}
</style>



{% endblock %}

{% block content %}

<div id='map' class="">

</div>

<script>

//MARC COLOR ICONS
var waterTankIcon = new L.Icon({
  iconUrl: '{% static 'img/water-tank.png' %}',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41],
});

var controlIcon = new L.Icon({
  iconUrl: '{% static 'img/control-station.webp' %}',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41],
});

var antenaIcon = new L.Icon({
  iconUrl: '{% static 'img/antena.png' %}',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [35, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41],
});

var greenIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41],
});

var orangeIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41],
});

var yellowIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41],
});

var blueIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41],
});

var redIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41],
});

var blackIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-black.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41],
});

var goldIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-gold.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41],
});

var greyIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41],
});

var violetIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-violet.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41],
});

  var cities = L.layerGroup();
  var ebar1 = L.layerGroup();
  var ebap1 = L.layerGroup();
  var rdap1 = L.layerGroup();
  var esap1 = L.layerGroup();
  var drap1 = L.layerGroup();
  var ecs1 = L.layerGroup();
  var edar1 = L.layerGroup();
  var ddap1 = L.layerGroup();
  var plvm1 = L.layerGroup();
  var cc1 = L.layerGroup();
  var rep1 = L.layerGroup();  
  var otros1 = L.layerGroup();




/*sanitationStations Marks*/
  {% for station in station %}
    
    //EBAR
    {% if station.type_station.acronym == "EBAR" %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: orangeIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(ebar1),
        {% if forloop.last %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: orangeIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(ebar1);        
      {% endif %}
    {% endif %}

    //EBAP
    {% if station.type_station.acronym == "EBAP" %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: blueIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(ebap1),
        {% if forloop.last %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: blueIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(ebap1);
        {% endif %}
    {% endif %}

        //RDAP
    {% if station.type_station.acronym == "RDAP" %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: blueIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(rdap1),
        {% if forloop.last %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: blueIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(rdap1);
        {% endif %}
    {% endif %}

        //ESAP
    {% if station.type_station.acronym == "ESAP" %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: blueIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(esap1),
        {% if forloop.last %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: blueIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(esap1);
        {% endif %}
    {% endif %}

        //DRAP
    {% if station.type_station.acronym == "DRAP" %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: blueIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(drap1),
        {% if forloop.last %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: blueIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(drap1);
        {% endif %}
    {% endif %}

        //ECS
    {% if station.type_station.acronym == "ECS" %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: orangeIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(ecs1),
        {% if forloop.last %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: orangeIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(ecs1);
        {% endif %}
    {% endif %}

        //EDAR
    {% if station.type_station.acronym == "EDAR" %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: orangeIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(edar1),
        {% if forloop.last %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: orangeIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(edar1);
        {% endif %}
    {% endif %}

        //DDAP
    {% if station.type_station.acronym == "DDAP" %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: waterTankIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(ddap1),
        {% if forloop.last %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: waterTankIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(ddap1);
        {% endif %}
    {% endif %}

        //PLVM
    {% if station.type_station.acronym == "PLVM" %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: blueIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(plvm1),
        {% if forloop.last %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: blueIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(plvm1);
        {% endif %}
    {% endif %}

        //CC
    {% if station.type_station.acronym == "CCYM" %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: controlIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(cc1),
        {% if forloop.last %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: controlIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(cc1);
        {% endif %}
    {% endif %}

        //REP
    {% if station.type_station.acronym == "EREP" %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: antenaIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(rep1),
        {% if forloop.last %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: antenaIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(rep1);
        {% endif %}
    {% endif %}

        //OTROS
    {% if station.type_station.acronym == "OTROS" %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: greyIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(otros1),
        {% if forloop.last %}
      L.marker([{{ station.latitude_station }}, {{ station.longitude_station }}],{icon: greyIcon}).bindPopup('<a href="{% url 'stations_app:detail_station' station.id %}" >{{ station.get_type_station_display }} {{ station.name_station }}</a><br><a href="{% url 'installations_app:list_installations_by_station' station.id %}">Instalaciones</a><br><a href="{% url 'devices_app:list_devices_by_station' station.id %}">Dispositivos</a><br><a href="{% url 'consumables_app:list_consumables_by_station' station.id %}">Consumibles</a>').addTo(otros1);
        {% endif %}
    {% endif %}



  {% endfor %}




var ret = '<a target="_public" href="https://www.retegi.eus">retegi.eus</a> '
	var mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

	var grayscale   = L.tileLayer(mbUrl, {id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1, attribution: ret+mbAttr}),
		streets  = L.tileLayer(mbUrl, {id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: ret+mbAttr});

  {% for map in map %}
	var map = L.map('map', {
		center: [{{ map.longitude_conf_map }}, {{ map.latitude_conf_map }}],
		zoom: {{ map.zoom_conf_map }},
		layers: [grayscale,ebar1,ebap1,rdap1,esap1,drap1,ecs1,edar1,ddap1,plvm1,cc1,rep1,otros1]
  });
  {% endfor %}



	var baseLayers = {
		"Mapa gris-claro": grayscale,
		"Mapa color": streets
	};

	var overlays = {
    "EBAR": ebar1,
    "EBAP": ebap1,
    "RDAP": rdap1,
    "ESAP": esap1,
    "DRAP": drap1,
    "ECS": ecs1,
    "EDAR": edar1,
    "DDAP": ddap1,
    "PLVM": plvm1,
    "CC": cc1,
    "REP": rep1,
    "OTROS": otros1

	};

	L.control.layers(baseLayers, overlays).addTo(map);
</script>


{% endblock %}