{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block slider %}
{% endblock %}

{% block content %}
<div class="alert alert-white m-3" role="alert">

  <div class="row">
    <div class="col-lg-2 text-center">
    </div>
    <!--DETAIL INFORMATION-->
    <div class="col-lg-8">
      <h3 class="text-secondary">Galería Estación</h3>
      <h1>{{ station.get_type_station_display }} {{ station.name_station }}</h1>
            <table class="table table-sm table-hover">
                

  </div>

  <div class="row">
    <div class="col-lg-2 text-center">
    </div>

    
    

  


    <!--DOC-->
    <div class="container-fluid">  
      <!-- Grid row DOC -->
      <div class="row">
                    
        <div class="col-12 mb-5"><h3>Esquemas y otra documentación</h3></div>
        
          </div>
              <!-- Grid column -->
              <div class="col-lg-8 col-md-12 mb-4">
                {% for doc in station.doc_station.all %}
                <!--Modal: Name-->
                <a target="_blank" href="{{ doc.url_docStation }}"><button class="btn btn-primary m-1">{{ doc.name_docStation }}</button></a></br>
                {% endfor %}
              </div>
              <!-- Grid column -->
          
      </div>
            <!-- /Grid O -->

    </div>



    





  </div>
</div>

</div>


{% endblock %}